@use '../abstract/mixins' as m;
@use '../abstract/variables' as v;

.carousel-container {
  position: relative;
  height: clamp(255px, 30vw, 415px);
  overflow: hidden;
  border-radius: 25px;
  margin-bottom: 10px;

  .image-container {
    display: flex;
    width: 100%;
    height: clamp(255px, 30vw, 415px);
    align-content: center;
    @include m.transition(transform, 0.3s, ease);
  }

  .image-slide {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .fa-chevron-left,
  .fa-chevron-right {
    color: white;
    font-size: clamp(v.$font-size-xl, 5vw, v.$font-size-xxxxl);
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    text-shadow: 5px 2px 30px v.$color-black;
  }

  .fa-chevron-left {
    left: 5%;
  }

  .fa-chevron-right {
    right: 5%;
  }

  .carousel-status {
    text-shadow: 5px 2px 15px v.$color-black;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    margin-bottom: 30px;
  }
}
