@use '../abstract/mixins' as m;
@use '../abstract/variables' as v;

footer{
    @include m.flexbox(column, center, center, 32px);
    padding: 50px 0 20px 0;
    width: 100%;
    background-color: v.$color-black;
    color: v.$color-white;
}