@use '../abstract/mixins' as m;
@use '../abstract/variables' as v;

header {
    padding: 50px 0 ;
    @include m.flexbox(row, space-between, center);


    @include m.media(v.$breakpoints-large){
        padding: 20px 0;
    }

    img{
        width: clamp(145px, 20vw, 210px);
    }

    nav{
        font-size: clamp(v.$space-sm, 2vw, v.$font-size-xl);
        @include m.flexbox($gap: 65px);


        @include m.media(v.$breakpoints-large){
            padding: 20px 0 ;
            @include m.flexbox($gap: 25px);

        }
        
        @include m.linkHover();
    }
}