@use '../abstract/mixins' as m;
@use '../abstract/variables' as v;

.sub-header-container{
    position: relative;
    @include m.flexbox(column);
    overflow: hidden;
    height: clamp(110px, 20vw, 223px);
    margin-bottom: 30px;
    box-shadow: 4px 4px 15px v.$color-black;
    border-radius: 25px;
    img{
        filter: brightness(60%);
        object-fit:cover;
        height: 100%;
    }

    h1{
        position: absolute;
        color: v.$color-white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: clamp(v.$font-size-xl, 4vw, v.$font-size-xxxl);
        font-weight: v.$font-weight-bold;    
        line-height: v.$line-height-normal;
        @include m.media(v.$breakpoints-medium){
            width: 80%;
            line-height: v.$line-height-small;
        }  
    }
}

