@use '../abstract/variables' as v;

// flexbox
@mixin flexbox($direction: null, $justify: null, $align: null, $gap: null) {
  &{
      display: flex;

    @if $direction != null {
      flex-direction: $direction;
    }

    @if $justify != null {
      justify-content: $justify;
    }

    @if $align != null {
      align-items: $align;
    }

    @if $gap != null {
      gap: $gap;
    }
  }
}

@mixin media($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

// transition animation
@mixin transition($properties: all, $duration: .3s, $timing: ease-in-out) {
  transition: $properties $duration $timing;
}

@mixin linkHover(){
  a{  
    color: v.$color-black;
    position: relative;
    font-weight: 500;

    &::after{
      content:"";

      position: absolute;
      bottom: 0;
      left: 50%;
            
      background: v.$color-black;
      width: 0;         
      height: 2px;
        @include transition(width, 0.4s, ease);
          transform: translateX(-50%);
        }

        &:hover::after,
        &.active::after{
          width: 100%;
        }
  }
}