
// Couleurs
$color-primary: #FF6060;
$color-dark: #2A2A2A;
$color-grey: #999999;
$color-light-grey: #F6F6F6;
$color-white: #FFFFFF;
$color-black: #000000;

// Typographie
$font-family-base: 'Montserrat', Arial, sans-serif;

$font-size-xxs: 0.625rem;   // 10px
$font-size-xs: 0.75rem;   // 12px
$font-size-sm: 0.875rem;  // 14px
$font-size-md: 1rem;      // 16px
$font-size-mg: 1.125rem;  // 18px
$font-size-lg: 1.25rem;   // 20px
$font-size-xl: 1.5rem;    // 24px
$font-size-xxl: 2rem;     // 32px
$font-size-xxxl: 3rem;     // 48px
$font-size-xxxxl: 5rem;     // 48px

$line-height-small: 1;
$line-height-normal: 1.5;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Espacements
$space-sm: 0.75rem;  // 12px

// Bords
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 16px;

//breackpoint
$breakpoints-small: 480px;
$breakpoints-medium: 768px; 
$breakpoints-large: 1024px;
$breakpoints-xlarge: 1200px;
