@use '../abstract/mixins' as m;
@use '../abstract/variables' as v;

.accomodation-collapse-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  @include m.media(v.$breakpoints-medium) {
    @include m.flexbox(column, center, center, 20px);
    .collpase-Container{
        width: 100%;
    }
  }
}

.title-container {
  @include m.flexbox(row, space-between, flex-start, 20px);
  margin-bottom: 20px;

  @include m.media(v.$breakpoints-medium) {
    @include m.flexbox(column);
  }

  .title {
    h1 {
      font-weight: v.$font-weight-medium;
      font-size: clamp(v.$font-size-mg, 3vw, v.$font-size-xxl);
      color: v.$color-primary;
    }

    .location {
      font-weight: v.$font-weight-medium;
      font-size: v.$font-size-mg;
    }

    .tag-container {
      margin-top: 20px;
      @include m.flexbox(row, left, center, 10px);

      .tag {
        color: v.$color-white;
        font-size: clamp(v.$font-size-xxs, 3vw, v.$font-size-sm);
        font-weight: v.$font-weight-bold;
        background-color: v.$color-primary;
        padding: 3px 10px;
        border-radius: 10px;
      }
    }
  }

  .profil-container {
    @include m.flexbox(column, space-between, flex-end, 20px);

    @include m.media(v.$breakpoints-medium) {
      width: 100%;
      @include m.flexbox(row-reverse,space-between, center);
    }
  }

  .avatar {
    @include m.flexbox(row, center, center, 20px);

    img {
      width: clamp(32px, 6vw, 64px);
      border-radius: 65px;
    }

    p {
      font-size: clamp(v.$font-size-xs, 2vw, v.$font-size-sm);
      text-align: right;
      color: v.$color-primary;
    }
  }
  .stars{
    @include m.flexbox(row, center, center, clamp(10px, 2vw, 20px));
    color: v.$color-primary;
      i{
        font-size: clamp(18px, 3vw, 24px);
      }

      .empty{
        color: v.$color-grey;
      }
  }
}
