@use '../abstract/mixins' as m;
@use '../abstract/variables' as v;

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: v.$color-light-grey;
    gap: 50px;
    padding: 50px;
    border-radius: 25px;
    
    @include m.media(v.$breakpoints-xlarge) {
        grid-template-columns: repeat(2, 1fr);
    }

   @include m.media(v.$breakpoints-large) {
        grid-template-columns: 1fr;
        padding: 0px;
        background-color: transparent;
    } 
}