@use './abstract/mixins' as m;
@use './abstract/variables' as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: v.$font-family-base;
  font-size: v.$font-size-md;
  line-height: v.$line-height-normal;
  background-color: v.$color-white;
  color: v.$color-dark;
}

header, main{
    margin: 0 clamp(20px, 4vw, 100px);
}

a{
    text-decoration: none;
    color: v.$color-black;
}